<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Table" nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['/ng-zorro-table']">Basics</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="List" nzIcon="team">
        <ul>
          <li nz-menu-item [routerLink]="['/basics-list']">Basics </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [routerLink]="['/dashboard-drag-and-dropable']"> Dashboard drop and drop </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Editor" nzIcon="dashboard">
        <ul>
          <li nz-menu-item [routerLink]="['/svg-editor']"> Dashboard drop and drop </li>
        </ul>
        <ul>
          <li nz-menu-item [routerLink]="['/dashboard-stats']"> Stats plolty table</li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Micro-Apps" nzIcon="dashboard" >
        <ul>
          <li nz-menu-item [routerLink]="['/micro-apps-todo-list']"> Todo List </li>

          <li nz-menu-item [routerLink]="['/lib-test']"> Test Lib </li>

          <li nz-menu-item [routerLink]="['/myMfTodo']"> Micro MF Test Lib </li>
        </ul>
        
      </li>
    
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2025 Implement By Angular and testing by Pedro Salomon</nz-footer>
  </nz-layout>
</nz-layout>