:host {

    .check-box-container {
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;

        input {
            border-radius: 0%;
            width: 20px;
            height: 20px;

            &:checked {
                background-image: none;
            }
        }
    }

    .switch {
        justify-content: space-between;
        width: 250px;

        input {
            border-radius: 0%;
            width: 30px;
            height: 20px;
            cursor: pointer;
            box-shadow: none;

            &:nth-child(2) {

                &:checked {
                    background-image: none;
                    background-color: #fff;
                    border-color: rgb(222, 226, 230);
                }
            }

            &:checked {
                background-image: none;
            }

        }

        .switch-labels {
            gap: 5px;
        }
    }
}