<div class="btn-group">
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomMinusX()">

        <i class="bi bi-zoom-out"></i>
        <span>Y</span>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomPlusX()">
        <i class="bi bi-zoom-in"></i>
        <span>X</span>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomMinusY()">
        <i class="bi bi-zoom-out"></i>
        <span>Y</span>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomPlusY()">

        <i class="bi bi-zoom-in"></i>
        <span>Y</span>
    </button>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            X
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
            Y
        </label>
    </div>