<div class="btn-group">
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomMinusX()">

        <i class="bi bi-zoom-out"></i>
        <span>Y</span>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomPlusX()">
        <i class="bi bi-zoom-in"></i>
        <span>X</span>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomMinusY()">
        <i class="bi bi-zoom-out"></i>
        <span>Y</span>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex" (click)="zoomPlusY()">

        <i class="bi bi-zoom-in"></i>
        <span>Y</span>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex">

        <i class="bi bi-zoom-in"></i>
    </button>
    <button type="button" class="btn btn-default btn-sm d-flex">

        <i class="bi bi-zoom-out"></i>
    </button>
    <div [formGroup]="form">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="xaxeInput" name="axe" value="xaxe"
                    formControlName="axe">
                <label class="form-check-label" for="xaxeInput">
                    X
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="yaxeInput" name="axe" value="yaxe"
                    formControlName="axe">
                <label class="form-check-label" for="yaxeInput">
                    Y
                </label>
            </div>
        </div>
    </div>