<div class="row">
    <div class="col-2">
        <div class="col-8">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" (click)="zoomMinusX()">
                    -x
                </button>
                <button type="button" class="btn btn-default btn-sm" (click)="zoomPlusX()">
                    +x
                </button>
                <button type="button" class="btn btn-default btn-sm" (click)="zoomMinusY()">
                    -y
                </button>
                <button type="button" class="btn btn-default btn-sm" (click)="zoomPlusY()">
                    +y
                </button>
            </div>
        </div>
    </div>
</div>