app-main {
    display: block;
     .reuse-form {
        display: flex;
        flex-direction: column;
        padding: 16px;
        background-color: #f0f0f0;

        h1 {
            font-size: 24px;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            margin-bottom: 8px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 16px;

            label {
                font-size: 14px;
                font-weight: bold;
            }

            input {
                padding: 8px;
                border-radius: 4px;
                border: 1px solid #ccc;

                &:focus {
                    border-color: #007bff;
                    outline: none;
                }
            }

          
        }

        button {
            padding: 8px 16px;
            background-color: #007bff;
            margin-left: auto;
            display: block;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
       
    }
    p {
        font-size: 18px;
        color: #2980b9;
    }
}