<div class="container">
    <div class="row mt-4 ">


        <div class="col-4">

            <ul class="list-group">


                <a class="list-group-item list-group-item-action" [routerLink]="'/simple-counter'"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Simple counter</a>
                <a class="list-group-item list-group-item-action" [routerLink]="'/ngrx-simple-counter'"
                    routerLinkActive="active">Ngrx simple counter</a>
                <a class="list-group-item list-group-item-action" [routerLink]="'/ngrx-create-api-counter'"
                    routerLinkActive="active">Ngrx create api counter</a>
                <a class="list-group-item list-group-item-action" [routerLink]="'/ngrx-create-api-plot'"
                    routerLinkActive="active">Ngrx create api plot</a>

            </ul>
        </div>

        <div class="col-8">
            <router-outlet> </router-outlet>
        </div>

    </div>
</div>