<div class="row mt-4 ">


    <div class="col-4">

        <ul class="list-group">

          
              <a class="list-group-item list-group-item-action"  [routerLink]="'/simple-counter'" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"  >A second link item</a>
              <a class="list-group-item list-group-item-action" [routerLink]="'/simple-counter-2'" routerLinkActive="active" >A third link item</a>
            
        </ul>
    </div>

    <div class="col-8">
        <router-outlet> </router-outlet>
    </div>

</div>