<div [formGroup]="formGroup">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
            <input type="text" [formControlName]="'key'" readonly class="form-control-plaintext" id="staticEmail"
                value="email@example.com">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Value</label>
        <div class="col-sm-10">
            <input type="number" [formControlName]="'value'" class="form-control" id="inputPassword">
        </div>
    </div>
</div>