<div>

    <div class="row">
        <div class="col">
            <nrgx-create-api-plot-values></nrgx-create-api-plot-values>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <ngrx-create-api-plot-nav></ngrx-create-api-plot-nav>

            <ngrx-create-api-plot-menu-bar> </ngrx-create-api-plot-menu-bar>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="scene-plot" #scenePlot></div>

        </div>
    </div>


</div>